.intro {

}

.intro__container {
	width: 50%;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
  
  @media screen and (max-width: 700px) {
    width: 75%;
  }
}

.intro__name {
	position: relative;
  font-family: cardo, serif;
  font-size: 2.6em;
  font-weight: 700;
  color: #333333;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;
}

.intro__subhead {
	position: relative;
	font-family: cardo, serif;
	font-size: 1.33em;
  margin-top: 0;
	margin-bottom: 2.66em;
}

.intro__subhead:after {
	content: '†';
  display: block;
  position: absolute;
  left: 50%;
  top: 133%;
  transform: rotateZ(180deg);
}

.intro__details {

}

.intro__details em {
	font-family: cardo, serif;
}

.intro__sites {
	padding-left: 0;
}

.intro__sites li {
	display: inline-block;
	margin-right: 1.3em;

	&:last-of-type {
		margin-right: 0;
	}
}