.menu {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.9);
	text-align: center;
	transform: translateY(-100%);
	transition: all 0.2s ease-out;

	&.menu--opened {
		opacity: 1;
		z-index: 2;
		transform: translateY(0%);
	}
}

.menu__toggle {
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 1.66em;
	color: #1d1d1d;
	text-align: center;
	text-decoration: none;
	z-index: 3;

	&.menu--opened {
		color: #efefef;
	}	
}

.menu__toggle__close {
	display: none;
	opacity: 0;

	.menu--opened & {
		display: block;
		opacity: 1;
	}
}

.menu__toggle__open {
	
	.menu--opened & {
		display: none;
		opacity: 0;
	}
}

.menu__items {
	// opacity: 0;
	width: 100%;
	list-style: none;
	text-align: center;
	padding-left: 0;
	transform: translateX(-100%);
	transition: 0.15s all 0.2s ease-out;

	.menu--opened & {
		transform: translateX(0);
	}
}

.menu__item {
	font-family: lato, sans-serif;
	font-size: 1.66em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: line-through;
	color: #efefef;
	margin-bottom: 2rem;
}